.DS_Store



application/cache/*
!application/cache/index.html
!application/cache/.htaccess


application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

/application/config/config.php
/application/config/database.php
application/logs/
application/config/email.php
invoices/*
temp_pdf_dir/*
/assets/js/examples/examples.wizard.js
/assets/js/custom.js